* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Madimi One", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: #eee;
    padding: 20px;
}

.form {
    padding: 20px;
}

.form-campo {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-campo label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-campo input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 16px;
}
